# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:password@localhost:3306/talk"

SOUND_DIR="./.data/"
AVATAR_DIR="./.data/avatars"

GMAIL_USER="username@gmail.com"
GMAIL_PASS="google_app_password"

GOOGLE_PROJECT_ID="XXX"
VITE_GOOGLE_PROJECT_ID="XXX"
GOOGLE_LOCATION='us-central1'
MICROSOFT_SPEECH_KEY="XXX"
DEEPL_AUTH_KEY="{deepl-auth-key}"

# .zshrc
# export GOOGLE_APPLICATION_CREDENTIALS="/Users/iwasakishinya/development/talk/.secret/talk-370811-f3fc71499f09.json"
