@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background-color: #fff;
	--border-color: rgb(239, 243, 244);
	--media-border-color: rgb(207, 217, 222);
	--gray-color: rgb(83, 100, 113);
	--text-color: rgb(15, 20, 25);
	--link-color: rgb(29, 155, 240);
	--link-hover-color: rgb(26, 140, 216);
	--blue-color: rgb(29, 155, 240);
	--header-background-color: rgba(239, 243, 244, 0.85);
}

body {
	font-family: 'Segoe UI', Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	margin: 0;
}

input,
button,
select,
textarea,
.signin_button > div,
.border_radius,
.glass {
	border-radius: 6px;
	border: 1px solid var(--media-border-color);
	overflow: hidden;
}

input,
button,
select,
textarea {
	background: var(--border-color);
}

button,
select {
	cursor: pointer;
}

button {
	padding: 6px 8px;
	/* min-width: 80px; */
}

select,
.signin_button > div {
	padding: 6px 12px;
}

input {
	padding: 7px 16px;
}

textarea {
	font-family: inherit;
	font-size: 100%;
	padding: 10px 16px;
}

.header_background_color {
	background-color: var(--header-background-color);
}

.header {
	-webkit-position: sticky;
	position: sticky;
	z-index: 3;
	top: 0;
	height: 53px;
	backdrop-filter: blur(12px);
}

.header_left {
	font-size: 22px;
	font-weight: 700;
	padding-left: 16px;
	padding-right: 16px;
}

.header_right {
	font-size: 22px;
	margin: 0 0 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.scroll_area {
	padding: 16px 16px 0 16px;
}

.footer {
	-webkit-position: sticky;
	position: sticky;
	z-index: 3;
	bottom: 0;
	backdrop-filter: blur(12px);
	background-color: rgba(255, 255, 255, 0.85);
	padding: 8px 16px 16px 16px;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

.flex_column {
	display: flex;
	flex-direction: column;
}

.flex_column > * {
	width: auto;
}

.flex_1 {
	flex: 1;
}

.overflow_wrap_anywhere {
	overflow-wrap: anywhere;
}

.align_items_center {
	align-items: center;
}

.justify_content_center {
	justify-content: center;
}

.gap_border {
	gap: 1px;
	background-color: var(--border-color);
}

.gap_border > * {
	background-color: var(--background-color);
}

/* .min-height_100vh {
	min-height: 100vh;
} */

.root_container > * {
	flex: auto;
}

.center_container {
	margin: 0 auto;
	max-width: 800px;
	width: 800px;
	min-width: 0;
	/* border: 1px solid red; */
}

.padding_16px {
	padding: 16px;
}

.padding_10px_16px {
	padding: 10px 16px;
}

.gap_8px {
	gap: 8px;
}

.gap_16px {
	gap: 16px;
}

.cursor_pointer {
	cursor: pointer;
}

.hover {
	background-color: var(--background-color);
}

.hover:hover {
	background-color: var(--border-color);
	transition: 0.2s;
}

.title {
	padding: 8px 0;
	margin: 0;
	border-bottom: 1px solid var(--border-color);
	font-weight: bold;
	font-size: 20px;
}

.height_24px {
	height: 24px !important;
	min-height: 24px !important;
}

.card {
	box-shadow: 0 0.1px 0.5px #0000000e, 0 0.4px 1.6px #00000014, 0 2px 7px #00000021;
	border-radius: 0.5rem;
}

.signin_button {
	text-decoration: none;
}

.signin_button > div {
	background-color: white;
	color: black;
	font-size: medium;
	text-decoration: none;
}